.signup-form {
  width: 300%;
    height: 80vh;
    box-shadow: 3px 3px 6px 3px rgba(0, 0, 0, 0.3);
    padding-top: 100px;
    
    margin: 50px;
    margin-left: 480px;
    
}

.form-group :placeholder{
  color:#570303;
  display: inline;
  background: none;
  letter-spacing: 4px;

  font-family: 'Jura', sans-serif;
}
   
  
label {
  display: flex;
  flex-direction: column;
  gap: 49px;
  margin-top: 20px;
  font-weight: bold;
}

input[type='text'],
input[type='email'],
input[type='tel'],
input[type='password'] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

 button {
  padding: 30px 40px;
  font-size: 16px;
  background-color: #78797b;
  background: transparent;
   border-radius: 6px;
   border: 1px solid rgb(67, 66, 66);
  cursor: pointer;
}
.signup-background{
  height: 100vh;
  width: 100%;
}
button:hover {
  background-color: #3c3d3e;
}  