.brandname h1 {
  font-size: 80px;
  margin: 0; /* Remove one of the margin properties */
  color: #ddf0e6;
  position: absolute;
  top: 40%;
  left: 30%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.headparagraph, .headparagraph1 {
  font-family: 'Jura', sans-serif;
  color: #e2eae6;
  position: absolute;
  margin-left: 0.5px; /* Adjust margin-left as needed */
}

.headparagraph {
  top: 40%;
  left: 20%;
  margin: 40px;
}

.headparagraph1 {
  top: 50%;
  left: 20%;
  margin: 30px;
}

.nav-list li {
  display: inline-block;
  margin-right: 20px;
}

.nav-list li:hover {
  background-color: #b7c3bd;
}

.Find-Your-Favorites .Find-Your-Favorites-button {
  background-color: #333433;
  color: #fff;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: absolute;
  top: 60%;
  left: 25%;
}

.Find-Your-Favorites .Find-Your-Favorites-button:hover {
  background-color: #1b1c1c;
}