.brandname  {
  font-size: 80px;
  margin: 0;
  color: #fafafa;
  position: absolute;
  left: 15%;
  top:370px;
  letter-spacing: 4px;
  transform: translate(-50%, -50%);
  text-align: center;
}
.headparagraph, .headparagraph1 {
  font-family: 'Jura', sans-serif;
  color: #ffffff;
  position: absolute;
  margin-left: 0.5px; 
}

.headparagraph {
  
  bottom: 23%;
  margin: 120px;
}




/* .Find-Your-Favorites .Find-Your-Favorites-button {
  background-color: #333433;
  color: #fff;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: absolute;
  top: 60%;
  left: 25%;
}

.Find-Your-Favorites .Find-Your-Favorites-button:hover {
  background-color: #1b1c1c;
} */
.pic{
width: 1500px;
height: 600px;
}
.nav-list {
  padding: 10px 5px; 
  display: flex;
  align-items:center;
  margin-right: 990px; 
  margin-left: 50px;
  margin-top: 10px;
  top: 4px;
  position: absolute; 
  letter-spacing: 2.3px;
  justify-content: space-around;


}
 .nav-list li a{
  text-decoration: none;
  color:#ffffff;
 }

.nav-list li {
  display: inline-block; 
  margin-right: 20px; 

} 
.nav-list :hover {

  
  box-sizing: 2px 2px;

  
} 
