.homepage {
    text-align: center;
    padding: 20px;
  }
  
  .main-heading {
    font-size: 2em;
    color: #333;
  }
  
  .main-paragraph {
    font-size: 1.2em;
    color: #555;
    margin-bottom: 20px;
  }
  
  .secondary-paragraph {
    font-size: 1em;
    color: #777;
    margin-bottom: 20px;
  }
  .cars{
    display: flex;
    justify-content: space-between;
    /* height: 50vh;
    width: 50%; */
    margin-top: 40px;
    margin-bottom: 0;

  }
  .cars{
    display: flex;
  }

  .cars img{
    margin-right: 10px;
  }

  .cars img:last-child{
    margin-right: 30px;
  }
 
  .cars img{
    max-width: 100%;
  }

 
  /* .pagani{
    margin-left: 700;
    width: 40vh;
    height: 150px;
    justify-content: space-between;
  }
.lamborghini  {

    margin-left: 700;
    width: 40vh;
    height: 150px;
      justify-content: space-between;
    }
  .rollsroys{
    margin-left: 700;
    width: 40vh;
    height: 150px;
    justify-content: space-between;
  }
  .ferrari{
    margin-left: 700;
    width: 40vh;
    height: 150px;
    justify-content: space-between; 
  } 
  */