

  .login{
    width: 100%;
    height: 80vh;
  
    padding-top: 100px;
  }
  
  .login-container{
    width: 300px;
    background-color:#f3f0ec;

   box-shadow: 3px 3px 6px 3px rgba(0, 0, 0, 0.3); /* Adjust shadow as needed */
  
    height: 350px;
    margin: 50px;
    margin-left: 480px;
    padding: 30px 40px;
  }
  
  .login-container h1{
    margin: 20px 0px;
  }
  
  .login-fields {
    border: none;
    outline: none;
  margin: 10px;
    display: flex;
    flex-direction: column;
    gap: 49px;
    margin-top: 20px;
  }
  
  .login-fields input{
    height: 32px;
    width:95%;
    padding-left: 10px;
    padding-right: 0px;
    border: none;
    outline: none;
    border: 1px solid #4a929f;
    outline: none;
    color: #3d3939;
  }
  
  .login-fields ::placeholder{
        color:#570303;
        display: inline;
        background: none;
        letter-spacing: 2px;
      
        font-family: 'Jura', sans-serif;
      }
      .login input{
         margin-bottom: 15px; /* Add space between inputs */
  padding: 8px;
  
        background: transparent;
        border-radius: 6px;
        border: 1px solid rgb(67, 66, 66);
      }
      .login h1{
        text-align: center;
        font-size: 30 px;

        color:#494646;
        letter-spacing: 3px;
  
      }
  
      .login-background{
        height: 100vh;
        width: 100%;
      }
  
      .login-container button {
         width: 100%;
         padding: 10px;
         margin-top: 15px; /* Add space between button and inputs */
         border: none;
         /* border-radius: 5px; */
         background-color: #515151;
  
         color: #fff;
         cursor: pointer;
         transition: background-color 0.3s ease; /* Add smooth transition effect */
       }
       
       .login-container button:hover {
         background-color: #a9a5a1;
       }
       
       
       
       .login-container .login-message {
         margin-top: -65px; /* Add space between button and login message */
         text-align: center;
         color:#570303;
  
       }
       
       .login-container .login-message .login-link {
         font-size: 17px;
         color:#570303;
  
       }
       
       .login-container .login-message .login-link:hover {
         text-decoration: underline; /* Add underline on hover */
         text-decoration: none;
       }
  